<div class="new-question">
  <div class="category"> Casdsdtegory: <%= question.category %></div>
  | <%= question.nr %> | <%= question.title %><br>
  <ul class="list-unstyled">
  <% question.answers.each do |answer| %>
    <li><%= button_to answer.name, validate_answer_path(answer, current_question: @question.id), remote: true,  class:"btn-default" %></li>
  <% end %> 
  </ul>
</div>
