| <%= @question.nr %> | <%= @question.title %><br>
<ul>
<% @question.answers.each do |answer| %>
  <li><%= button_to answer.name, validate_answer_path(answer, current_question: @question.id), remote: true,  class:"btn-default" %></li>
<% end %> 
</ul>