<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-10">
				<%= link_to "Questions", questions_path %><br>
				<div id="category-list">
					<% @categories.each do |category| %>
						<%= button_to "#{Question.where("category = ?", category).count} #{category}", home_new_question_path(category: category), remote: true, class: "btn btn-default" %>
					<% end %>
				</div>
				<div class="btn-group-vertical" id="current-question-placeholder" role="group">
				</div>
		<div id="response"></div>
	</div>
	<div class="col-md-2">
	</div>
</div>




