@media (max-width: 500px) {
  .wrong, .next, .correct, .new-question {
    font-size: 20px;
  
    .btn {
      font-size: 20px;
    }
  }
}

.wrong, .next, .correct, .new-question {
  padding-left: 10px;
  padding-right: 10px;
  
  .btn {
      margin-top: 5px;
  }

  .category{
    padding-top: 0px;
  }
}

#current-question-placeholder{
    margin-top: 0px;
}

.hr-line {
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn {
    white-space: normal;
    border-radius:0;
    width: 100%;
}

.btn.sharp {
    border-radius:0;
    padding: 30px 24px;
    border: 0 none;
    font-weight: 1000;
    letter-spacing: 1px;
    background: #0099cc;
    color: #ffffff;
    width: 100%;
  }


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


