/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .wrong, .next, .correct, .new-question {
    font-size: 45px;
  
    .btn {
      font-size: 45px;
    }
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .wrong, .next, .correct, .new-question {
    font-size: 40px;
  
    .btn {
      font-size: 40px;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .wrong, .next, .correct, .new-question {
    font-size: 35px;
  
    .btn {
      font-size: 35px;
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .wrong, .next, .correct, .new-question {
    font-size: 20px;
  
    .btn {
      font-size: 20px;
    }
  }
}


.wrong, .next, .correct, .new-question {
  padding-left: 10px;
  padding-right: 10px;
  
  .btn {
      margin-top: 5px;
  }

  .category{
    padding-top: 0px;
  }
}

#current-question-placeholder{
    margin-top: 0px;
}

.hr-line {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0 none;
  color: #eee;
  height: 1px;
}

.btn {
    white-space: normal;
    border-radius:0;
    width: 100%;
}

.btn.sharp {
    border-radius:0;
    padding: 30px 24px;
    border: 0 none;
    font-weight: 1000;
    letter-spacing: 1px;
    background: #0099cc;
    color: #ffffff;
    width: 100%;
}

.btn.sharp-yellow {
  border-radius:0;
  padding: 30px 24px;
  border: 0 none;
  font-weight: 1000;
  letter-spacing: 1px;
  background: #6600cc;
  color: #ffffff;
  width: 100%;
}

.btn.sharp-yellow:hover {
  background: 8000ff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.code {
  font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
}


